.DS_Store
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
*.lock
__pycache__

# Ensure embedme does not run ont node_modules README.md files.
**/node_modules/**/README.md

static
labextension
**/test-results/
