/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-shout-button {
    height: 30px;
    width: 150px;
    margin: 8px;
    padding-top: 9px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #2296f3;
    color: #212121;
  }

.jp-shout-summary {
    margin: 4px;
}
