.mimerenderer-mp4 {
  overflow: auto;
}

.mimerenderer-mp4 video {
  width: 100%;
  height: auto;
}

[data-theme-light="true"] .mimerenderer-mp4-icon {
  background-image: url(movie-light.svg);
}

[data-theme-light="false"] .mimerenderer-mp4-icon {
  background-image: url(movie-dark.svg);
}
