/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-leap-container {
    display: inline;
    user-select: none;
}

.jp-leap-button {
    width: 85px;
    margin: 4px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #00eb00;
    color: #212121;
    display: inline-block;
}

.jp-combined-step-count-label {
    display: inline-block;
    margin: 6px;
    vertical-align: middle;
}