name: CI

on:
  push:
    branches: master
  pull_request:
    branches: "*"

jobs:
  build_extensions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        example:
          - advanced/kernel-messaging
          - advanced/kernel-output
          - basics/datagrid
          - basics/hello-world
          - basics/signals
          - command-palette
          - commands
          - context-menu
          - launcher
          - log-console/custom-log-console
          - log-console/log-messages
          - main-menu
          - react/react-widget
          - settings
          - state
          - widget-tracker/widgets
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Path filter
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            extension:
              - '${{ matrix.example }}/**'
      - name: Cache lerna
        if: steps.filter.outputs.extension == 'true'
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-lerna-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-lerna-
      - name: Check config files
        if: steps.filter.outputs.extension == 'true'
        run: |
          diff basics/hello-world/tsconfig.json ${EXAMPLE_FOLDER}/tsconfig.json
          diff basics/hello-world/.eslintignore ${EXAMPLE_FOLDER}/.eslintignore
          diff basics/hello-world/.eslintrc.js ${EXAMPLE_FOLDER}/.eslintrc.js
          diff basics/hello-world/.gitignore ${EXAMPLE_FOLDER}/.gitignore
        env:
          EXAMPLE_FOLDER: ${{ matrix.example }}
        shell: bash
      - name: Install node
        if: steps.filter.outputs.extension == 'true'
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install Python
        if: steps.filter.outputs.extension == 'true'
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Get pip cache dir
        if: steps.filter.outputs.extension == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
        shell: bash
      - name: Cache pip
        if: steps.filter.outputs.extension == 'true'
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install the Python dependencies
        if: steps.filter.outputs.extension == 'true'
        run: |
          python -m pip install --upgrade pip jupyter_packaging~=0.7.9 jupyterlab~=3.0
      - name: Install the NPM dependencies
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd ${EXAMPLE_FOLDER}
          jlpm
        env:
          EXAMPLE_FOLDER: ${{ matrix.example }}
        shell: bash
      - name: Lint the files
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd ${EXAMPLE_FOLDER}
          jlpm run eslint:check
        env:
          EXAMPLE_FOLDER: ${{ matrix.example }}
        shell: bash
      - name: Build and check by extension
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd ${EXAMPLE_FOLDER}
          pip install -e .
          jupyter labextension list 2>&1 | grep -ie "@jupyterlab-examples/*.*OK"
          python -m jupyterlab.browser_check
          pip uninstall -y $(python setup.py --name)
        env:
          EXAMPLE_FOLDER: ${{ matrix.example }}
        shell: bash

  build_serverextension:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Path filter
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            extension:
              - 'advanced/server-extension/**'
      - name: Cache lerna
        if: steps.filter.outputs.extension == 'true'
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-lerna-${{ hashFiles('advanced/server-extension/package.json') }}
          restore-keys: |
            ${{ runner.os }}-lerna-
      - name: Install node
        if: steps.filter.outputs.extension == 'true'
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Check config files
        if: steps.filter.outputs.extension == 'true'
        run: |
          diff basics/hello-world/tsconfig.json advanced/server-extension/tsconfig.json
          diff basics/hello-world/.eslintignore advanced/server-extension/.eslintignore
          diff basics/hello-world/.eslintrc.js advanced/server-extension/.eslintrc.js
        shell: bash
      - name: Install Python
        if: steps.filter.outputs.extension == 'true'
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Get pip cache dir
        if: steps.filter.outputs.extension == 'true'
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
        shell: bash
      - name: Cache pip
        if: steps.filter.outputs.extension == 'true'
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install the Python dependencies
        if: steps.filter.outputs.extension == 'true'
        run: |
          python -m pip install --upgrade pip jupyter_packaging~=0.7.9 jupyterlab~=3.0
      - name: Install the NPM dependencies
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd advanced/server-extension
          jlpm
      - name: Lint the files
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd advanced/server-extension
          jlpm run eslint:check
      - name: Build extension as user
        if: steps.filter.outputs.extension == 'true'
        # Force the usage of the source distribution (good practice)
        run: |
          cd advanced/server-extension
          python setup.py sdist
          pip install ./dist/jlab_ext_example* --pre --find-links=dist --no-cache-dir
          python -m jupyterlab.browser_check
      - name: Check extension as dev
        if: steps.filter.outputs.extension == 'true' && ( startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS') )
        run: |
          jupyter server extension list 2>&1 | grep -ie "jlab_ext_example.*OK"
          jupyter labextension list 2>&1 | grep -ie "@jupyterlab-examples/server-extension.*OK"
      - name: Clean extension installation
        if: steps.filter.outputs.extension == 'true'
        run: |
          pip uninstall -y jlab_ext_example
          jupyter lab clean
          jupyter server extension list
          jupyter labextension list
      - name: Build extension as dev
        if: steps.filter.outputs.extension == 'true'
        run: |
          cd advanced/server-extension
          pip install -e .
      - name: Check extension as dev
        if: steps.filter.outputs.extension == 'true' && ( startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS') )
        run: |
          jupyter server extension list 2>&1 | grep -ie "jlab_ext_example.*OK"
          jupyter labextension list 2>&1 | grep -ie "@jupyterlab-examples/server-extension.*OK"
          python -m jupyterlab.browser_check

  build_all:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-lerna-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-lerna-
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
        shell: bash
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install the Python dependencies
        run: python -m pip install cookiecutter jupyter-packaging~=0.7.9 jupyterlab~=3.0 pytest pytest-check-links
      - name: Check compliance with template
        run: |
          python scripts/upgrade_extensions.py
      - run: |
          IS_DIRTY=$(git status --porcelain=v1 | wc -l)
          if [[ ${IS_DIRTY} > 0 ]]; then git diff; exit 1; fi
        shell: bash
      - name: Bootstrap the jlpm deps
        run: jlpm
      - name: Build all the extensions
        run: |
          pytest --check-links
          jlpm build-ext
          jlpm lint:check
          jlpm install-ext
