name: CI

on: [push, pull_request]

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        example:
          - advanced/kernel-messaging
          - advanced/kernel-output
#          - advanced/serving-fils
          - basics/datagrid
          - basics/hello-worl
          - basics/signals
          - context-menu/menus
          - widget-tracker/jupyter-widgets
          - widget-tracker/widgets
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install the Python dependencies
      run: python -m pip install jupyterlab
    - name: Bootstrap the jlpm deps
      run: jlpm
    - name: build all the JupyterLab extensions
      run: |
        jlpm build-ext
        jlpm link-ext
#        jlpm build-jlab
    - name: Check the extension
      run: |
        cd ${EXAMPLE_FOLDER}
        jlpm && jlpm run build
        jupyter labextension link .
        python -m jupyterlab.browser_check
      env:
        EXAMPLE_FOLDER: ${{ matrix.example }}
